[submodule "deps/dgnix/deps/imgui/imgui"]
	path = deps/dgnix/deps/imgui/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "deps/glm/glm"]
	path = deps/glm/glm
	url = git@github.com:g-truc/glm.git
